<section fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="conteudo"> 

  
    <ul class="breadcrumb">
          <li><a href="/home">Início</a></li>
          <li><a href="/usuario/recuperar-senha">Recuperar senha</a></li>

        </ul>
        
  
        <h1>Recuperação de Senha</h1>
        <h3>Informe seu email para recuperar a senha</h3>
        <form>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input >

        </mat-form-field>
      
        <h3>Ou informe seu CPF</h3>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input >

        </mat-form-field>

          <button (click)="recuperar()"  mat-flat-button color="primary">Recuperar Senha</button>
    
      </form>

    </section>
  
