<section fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="conteudo"> 

  
    <ul class="breadcrumb">
          <li><a href="/home">Início</a></li>
          <li><a href="/usuario-recuperar-senha">Recuperar senha</a></li>

        </ul>
        
  
        <h1>Recuperação de Senha</h1>

        <form>

          <mat-form-field>
            <input matInput placeholder="Informe seu e-mail"
             name="nome" > 
        </mat-form-field>
    
        <button (click)="recuperar()"  mat-raised-button color="primary">Recuperar Senha</button>
      </form>
      

    
    </section>
  
