form {
    display: flex;
    flex-direction: column;
}

button {
  width: 40%;
margin: 10px;
}

.mat-card-title{
    margin-bottom: 25px;

}

.conteudo{
    margin: auto;
}


.subirImagem input[type="file"]{
  display: none;
}

.mat-icon {
  font-size: 30pt;
  text-align: center;
}


.mat-icon:active{
  transform: scale(0.9 );
}

.subirImagem p{
  text-align: center;
}

.subirImagem{
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 20px;
  height: fit-content;
  width: 30%;
}

.imagemAnterior{
  display: flex;
  background-color: aqua;
}

.imagemAnterior img{
width: 100%;
}
